@charset "utf-8";
/* Medios fluidos sencillos
   Nota: Los medios fluidos exigen la eliminación de los atributos de altura y anchura de los medios del código HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 no admite max-width (anchura máxima), por lo que usa de manera predeterminada una anchura del 100% */
.ie6 img {
	width:100%;
}
#redes3 {
	float: left;
	height: 38px;
	width: 9%;
	margin-top: 5px;
	margin-left: 2%;
}
#redes2 {
	height: 38px;
	width: 9%;
	float: left;
	margin-left: 2%;
	margin-top: 4px;
}
#redes {
	height: 38px;
	position: relative;
	margin-left: 35%;
	margin-top: 5px;
	margin-right: 0px;
	width: 9%;
	float: left;
}
#deco4 {
	width: 20%;
	float: left;
	margin-left: 5%;
	visibility:hidden;
	}
	
footer {
	background-color: #333;
	height: 50px;
	width: 100%;
	float: left;
	-webkit-border-radius: 10px 10px 10px 10px;
	margin-bottom: 10px;
}
#porta3 {
	width: 100%;
	overflow: auto;
}
#conte6 {
	height: 148px;
	width: 100%;
	background-color: #0B0B0B;
	overflow: hidden;
	-webkit-border-radius: 20px 20px 20px 20px;
	margin-right: auto;
	margin-left: auto;
}
#porta2 {
	width: 100%;
	overflow: auto;
}

#deco6 {
	width: 40%;
	margin-left: 10%;
	margin-top: 10px;
}
#conte5 {
	height: 385px;
	width: 480px;
	background-color: #0B0B0B;
	overflow: hidden;
	-webkit-border-radius: 20px 20px 20px 20px;
	margin-right: auto;
	margin-left: auto;
}



#porta1 {
	width: 460px;
	height: 460px;
	margin-right: auto;
	margin-left: auto;
}

#conte4 {
	height: 460px;
	width: 460px;
	background-color: #0B0B0B;
	overflow: hidden;
	-webkit-border-radius: 20px 20px 20px 20px;
	margin-right: auto;
	margin-left: auto;
	
	
}




#deco3 {
	width: 20%;
	float: left;
	margin-left: 30%;

}



#porta {
	width: 100%;
	overflow: auto;
	margin-left:auto;
	margin-right:auto;
}



#conte3 {
	width: 100%;
	background-color: #0B0B0B;
	overflow: hidden;
	-webkit-border-radius: 20px 20px 20px 20px;
	margin-right: auto;
	margin-left: auto;
}

#deco2 {
	width: 25%;
	margin-top: -1px;
	float: right;
	margin-left: 10%;
}
#deco1 {
	width: 60%;
	margin-top: opx;
	margin-left: 5%;
	float: left;
	position:absolute;
}


#conte2 {
	background-color: #333;
	height: 140px;
	width: 98%;
	margin-top: 0px;
	overflow: hidden;
	
}


#texto2 {
	font-family: GraffitiPaintBrush;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	text-align: center;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}

#conte a:hover #texto2 {
	color: #CF0;
	
	}

#texto2 {
	font-family: GraffitiPaintBrush;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	width: 80%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}



#texto1 {
	font-family: GraffitiPaintBrush;
	font-size: 14px;
	color: #636262;
	text-decoration: none;
	text-align: center;
	width: 70%;
	margin-right: auto;
	margin-left: 15%;
	margin-top: 30px;
}

#conte {
	background-color: #000000;
	height: 450px;
	width: 100%;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	overflow: auto;
	-webkit-border-radius: 0px 0px 10px 10px;
	float: left;
}
#deco5 {
	width: 0px;
	height: 0px;
	float: left;
	margin-top: 10%;
	visibility: hidden;	
}

li a:hover #contacto {
	width: 100%;
	height: 30px;
	background-image: url(../images/botoncontact_over.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	float: left;
	margin: opx;
}


#contacto {
	width: 100%;
	height: 30px;
	background-image: url(../images/botoncontact.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	float: left;
	margin: opx;
}

li a:hover #servicios {
	width: 100%;
	height: 30px;
	background-image: url(../images/botonservice_over.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	float: left;
	margin: opx;
}


#servicios {
	width: 100%;
	height: 30px;
	background-image: url(../images/botonservice.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	float: left;
	margin: opx;
}

li a:hover #nosotros {
	width: 100%;
	height: 30px;
	background-image: url(../images/botonhome_over.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	float: left;
	margin: opx;
}


#nosotros {
	width: 100%;
	height: 30px;
	background-image: url(../images/botonhome.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	float: left;
	margin: opx;
}

menu ul li{
	width: 30%;
	height: 100%;
	padding: 0px;
	list-style-type: none;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 5px;
	float: left;
	overflow: visible;
}



menu {
	background-color: #333333;
	height: 6.5%;
	width: 100%;
	padding: 0px;
	list-style-type: none;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	overflow: hidden;
}



menu2 ul li  {
	list-style-type: none;
	padding: 0px;
	width: 99%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 1.7%;
}
menu2 {
	width: 100%;
	margin: 0px;
	padding: 0px;
	visibility:hidden;
}

header a:hover #botoninicio {
	width: 250px;
	height: 250px;
	margin-left: 120px;
	z-index: 2;
	padding: 0px;
	margin-top: 20px;
	background-image: url(../images/btn_home_over1.png);
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
}

#botoninicio {
	width: 250px;
	height: 250px;
	margin-left: 120px;
	z-index: 2;
	padding: 0px;
	margin-top: 20px;
	background-image: url(../images/btn_home2.png);
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
	position: absolute;
	
}
#linea {
	background-image: url(../images/linea.png);
	background-repeat: no-repeat;
	height: 240px;
	width: 100%;
	z-index: 1;
	margin-right: auto;
	margin-left: auto;
	margin-top: 88px;
	
}
header {
	background-color: #0B0B0B;
	width: 100%;
	height: 300px;
	overflow: hidden;
	-webkit-border-radius: 10px 10px 0px 0px;
	margin-top:5px;
	z-index: 0;
}

.gridContainer {
	background-color: #333333;
	margin-left: auto;
	margin-right: auto;
	width: 460px;
	padding-left: 1.82%;
	padding-right: 1.82%;
	-webkit-border-radius: 0px 0px 10px 10px;
	overflow:hidden;
}

body {
	width:480px;
	height: 100%;
	background-image: url(../images/latinoamericasoyyo2.jpg);
	 background-size:50%; 
	 background-attachment: fixed;	
}



/* Diseño tableta: de 481 px a 768 px. Hereda estilos de: Diseño móvil. */

@media only screen and (min-width: 481px) {




#redes3 {
	float: left;
	height: 38px;
	width: 9%;
	margin-top: 5px;
	margin-left: 2%;
}
#redes2 {
	height: 38px;
	width: 9%;
	float: left;
	margin-left: 2%;
	margin-top: 4px;
}
#redes {
	height: 38px;
	position: relative;
	margin-left: 35%;
	margin-top: 5px;
	margin-right: 0px;
	width: 9%;
	float: left;
}
#deco4 {
	width: 20%;
	float: left;
	margin-left: 5%;
	visibility:hidden;
	}
	
footer {
	background-color: #333;
	height: 50px;
	width: 100%;
	float: left;
	-webkit-border-radius: 10px 10px 10px 10px;
	margin-bottom: 10px;
}
#porta3 {
	width: 100%;
	height:650px;
	overflow: auto;
	margin-left:auto;
	margin-right:auto;
}
#conte6 { 
	height: 235px; 
	width: 100%;
	background-color: #0B0B0B;
	overflow: hidden;
	-webkit-border-radius: 20px 20px 20px 20px;
	margin-right: auto;
	margin-left: auto;
}
#porta2 {
	width: 100%;
	overflow: auto;
}

#deco6 {
	width: 30%;
	margin-left: 10%;
	margin-top: 50px;
	float:left;
}
#conte5 {
	height: 605px;
	width: 100%;
	background-color: #0B0B0B;
	overflow: hidden;
	-webkit-border-radius: 20px 20px 20px 20px;
	margin-right: auto;
	margin-left: auto;
}




#porta1 {
	width: 700px;
	margin-left:auto;
	margin-right:auto;
}

#conte4 {
	height: 700px;
	width: 700px;
	background-color: #0B0B0B;
	overflow: hidden;
	-webkit-border-radius: 20px 20px 20px 20px;
	margin-left: 20px;
	margin-top: 40px;
	float: left;
	
	
}




#deco3 {
	width: 20%;
	float: left;
	margin-left: 30%;

}

#porta {
	width: 700px;
	overflow-y:hidden;
	overflow:auto;
	margin-left:auto;
	margin-right:auto;
}

#conte3 {
	width: 700px;
	background-color: #0B0B0B;
	overflow: inherit;
	-webkit-border-radius: 20px 20px 20px 20px;
	margin-right: auto;
	margin-left: auto;
	margin-top:50px;
}

#deco2 {
	width: 150px;
	margin-top: 0px;
	float: right;
	margin-right: 30px;
}
#deco1 {
	width: 380px;
	margin-top: -50px;
	margin-left: 100px;
	float: left;
	position:absolute;
}


#conte2 {
	background-color: #333;
	height: 140px;
	width: 98%;
	margin-top: 0px;
	overflow: hidden;
	
}


#texto3 {
	font-family: GraffitiPaintBrush;
	font-size: 14px;
	color: #636262;
	text-decoration: none;
	text-align: center;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}

#conte a:hover #texto2 {
	color: #CF0;
	
	}

#texto2 {
	font-family: GraffitiPaintBrush;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	width: 500px;
	margin-top: 10px;
	margin-left: 120px;
	text-align: center;
	float: left;
}



#texto1 {
	font-family: GraffitiPaintBrush;
	font-size: 14px;
	color: #636262;
	text-decoration: none;
	text-align: center;
	width: 70%;
	margin-right: auto;
	margin-left: 15%;
	margin-top: 30px;
}


#conte {
	background-color: #000000;
	height: 500px;
	width: 420px;
	float: left;
	overflow: hidden;
	-webkit-border-radius: 0px 0px 20px 20px;
	padding: 0px;
	margin-top: 0px;
}
#deco5 {
	width: 50px;
	float: left;
	margin-top: 50px;
	visibility: visible;
}

menu ul li{
	width: 98%;
	height: 100%;
	padding: 0px;
	list-style-type: none;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 2.3%;
	float: left;
}



menu {
	width: 95%;
	height: 20%;
	list-style-type: none;
	background-color: #0B0B0B;
	float: left;
	height: 80%;
	margin-top: 2%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	position: absolute;
	visibility: hidden;
}

header a:hover #botoninicio {
	width: 170px;
	height: 170px;
	margin-left: 48px;
	z-index: 2;
	position: absolute;
	padding: 0px;
	visibility: visible;
	margin-top: 25px;
	background-image: url(../images/btn_home_over1.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

#botoninicio {
	
	width: 170px;
	height: 170px;
	margin-left: 48px;
	z-index: 2;
	position: absolute;
	padding: 0px;
	visibility: visible;
	margin-top: 25px;
	background-image: url(../images/btn_home2.png);
	background-size: 100%;
	background-repeat: no-repeat;
}


li a:hover #contacto {
	width: 100%;
	height: 60px;
	background-image: url(../images/botoncontact_over.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	float: left;
	margin: opx;
}


#contacto {
	width: 100%;
	height: 60px;
	background-image: url(../images/botoncontact.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	float: left;
	margin: opx;
}

li a:hover #servicios {
	width: 100%;
	height: 60px;
	background-image: url(../images/botonservice_over.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	float: left;
	margin: opx;
}


#servicios {
	width: 100%;
	height: 60px;
	background-image: url(../images/botonservice.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	float: left;
	margin: opx;
}

li a:hover #nosotros {
	width: 100%;
	height: 60px;
	background-image: url(../images/botonhome_over.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	float: left;
	margin: opx;
}


#nosotros {
	width: 100%;
	height: 60px;
	background-image: url(../images/botonhome.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	float: left;
	margin: opx;
}


menu2 ul li {
	list-style-type: none;
	padding: 0px;
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left:0px;
}
menu2 {
	width: 100%;
	height: 50%;
	margin: 0px;
	padding: 0px;
	visibility:visible;
	margin-top: 0px;
	float:left;

}




#linea {
	background-image: url(../images/linea.png);
	background-repeat: no-repeat;
	width: 260px;
	background-size: 100%;
	height: 200px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	padding: 0px;
	background-position: center;
	
}
header {
	background-color: #0B0B0B;
	width: 35%;
	height: 450px;
	-webkit-border-radius: 00px 0px 20px 20px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	float: left;
}


.gridContainer {
	width: 748px;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	margin-left: 10px;
	margin-right: 10px;
	overflow:hidden;
	-webkit-border-radius: 00px 0px 20px 20px;
}
body {
	width:100%;
	height: 100%;
	background-image: url(../images/latinoamericasoyyo2.jpg);
	 background-size:50%; 
	 background-attachment: fixed;	
}
}

/* Diseño escritorio: de 769 px hasta un máximo de 1232 px.  Hereda estilos de: Diseño móvil y Diseño tableta. */

@media only screen and (min-width: 769px) {





#redes3 {
	float: left;
	height: 38px;
	width: 9%;
	margin-top: 5px;
	margin-left: 20px;
}
#redes2 {
	height: 38px;
	width: 9%;
	float: left;
	margin-left: 20px;
	margin-top: 4px;
}
#redes {
	height: 38px;
	position: relative;
	margin-left: 440px;
	margin-top: 5px;
	margin-right: 0px;
	width: 9%;
	float: left;
}
#deco4 {
	width: 20%;
	float: left;
	margin-left: 5%;
	visibility:hidden;
	}
	
footer {
	background-color: #333;
	height: 100px;
	width: 1000px;
	float: left;
	-webkit-border-radius: 10px 10px 10px 10px;
	margin-bottom: 10px;
	margin-top: 20px;
}
#porta3 {
	width: 100%;
	overflow: auto;
	margin-left:auto;
	margin-right:auto;
}
#conte6 { 
	height: 200px; 
	width: 998px;
	background-color: #0B0B0B;
	overflow: hidden;
	-webkit-border-radius: 20px 20px 20px 20px;
	margin-right: auto;
	margin-left: auto;
}
#porta2 {
	width: 1000px;
	overflow: auto;
}

#deco6 {
	width: 250px;
	margin-left: 20%;
	margin-top: 50px;
}
#conte5 {
	height: 800px;
	width: 1000px;
	background-color: #0B0B0B;
	overflow: hidden;
	-webkit-border-radius: 20px 20px 20px 20px;
	margin-right: auto;
	margin-left: auto;
}





#porta1 {
	width: 700px;
	height: 700px;
	margin-left:auto;
	margin-right:auto;
}

#conte4 {
	height: 700px;
	width: 700px;
	background-color: #0B0B0B;
	overflow: hidden;
	-webkit-border-radius: 20px 20px 20px 20px;
	margin-left: 250px;
	margin-top: 40px;
	float: left;
	
}




#deco3 {
	width: 150px;
	float: left;
	margin-left: 400px;
	margin-top: -2px;
	

}


#porta {
	width: 750px;
	overflow:auto;
	margin-left:auto;
	margin-right:auto;
}

#conte3 {
	width: 750px;
	background-color: #0B0B0B;
	overflow: hidden;
	-webkit-border-radius: 20px 20px 20px 20px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
}

#deco2 {
	width: 100px;
	margin-top: 0px;
	float: right;
	margin-right: 300px;
}
#deco1 {
	width: 350px;
	margin-top: 0px;
	margin-left: 50px;
	float: left;
	position:absolute;
}


#conte2 {
	background-color: #333;
	height: 140px;
	width: 998px;
	margin-top: 0px;
	overflow: hidden;
	
}


#texto3 {
	font-family: GraffitiPaintBrush;
	font-size: 16px;
	color: #636262;
	text-decoration: none;
	text-align: center;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
}

#conte a:hover #texto2 {
	color: #CF0;
	
	}

#texto2 {
	font-family: GraffitiPaintBrush;
	font-size: 16px;
	color: #000000;
	text-decoration: none;
	width: 600px;
	margin-top: 50px;
	margin-left: 300px;
	text-align: center;
}



#texto1 {
	font-family: GraffitiPaintBrush;
	font-size: 16px;
	color: #636262;
	text-decoration: none;
	text-align: center;
	width: 70%;
	margin-right: auto;
	margin-left: 15%;
	margin-top: 40px;
	margin-bottom: 20px;
}

#conte {
	background-color: #000000;
	height: 600px;
	width: 800px;
	float: left;
	overflow: hidden;
	-webkit-border-radius: 0px 0px 20px 20px;
	padding: 0px;
	margin-top: 0px;
}  
#deco5 {
	width: 50px;
	float: left;
	margin-top: 180px;
	visibility:visible;
}

menu ul {
	width: 98%;
	padding: 0px;
	list-style-type: none;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 2.3%;
	float: left;
}



menu {
	width: 30%;
	height: 10%;
	list-style-type: none;
	background-color: #0B0B0B;
	float: left;
	height: 80%;
	margin-top: 2%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	position: absolute;
	visibility: hidden;
}


header a:hover #botoninicio {
	width: 240px;
	height: 240px;
	margin-left: 48px;
	z-index: 2;
	position: absolute;
	padding: 0px;
	visibility: visible;
	margin-top: 25px;
	background-image: url(../images/btn_home_over1.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

#botoninicio {
	
	width: 240px;
	height: 240px;
	margin-left: 48px;
	z-index: 2;
	position: absolute;
	padding: 0px;
	visibility: visible;
	margin-top: 25px;
	background-image: url(../images/btn_home2.png);
	background-size: 100%;
	background-repeat: no-repeat;
}


li a:hover #contacto {
	width: 100%;
	height: 60px;
	background-image: url(../images/botoncontact_over.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	float: left;
	margin: opx;
}


#contacto {
	width: 100%;
	height: 60px;
	background-image: url(../images/botoncontact.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	float: left;
	margin: opx;
}

li a:hover #servicios {
	width: 100%;
	height: 60px;
	background-image: url(../images/botonservice_over.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	float: left;
	margin: opx;
}


#servicios {
	width: 100%;
	height: 60px;
	background-image: url(../images/botonservice.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	float: left;
	margin: opx;
}

li a:hover #nosotros {
	width: 100%;
	height: 60px;
	background-image: url(../images/botonhome_over.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	float: left;
	margin: opx;
}


#nosotros {
	width: 100%;
	height: 60px;
	background-image: url(../images/botonhome.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	float: left;
	margin: opx;
}


menu2 ul li {
	list-style-type: none;
	padding: 0px;
	width: 100%;
	height: 30%;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left:0px;
	float: right;
}
menu2 {
	width: 100%;
	height: 50%;
	margin: 0px;
	padding: 0px;
	visibility:visible;
	margin-top: 20px;
	float:left;

}




#linea {
	background-image: url(../images/linea.png);
	background-repeat: no-repeat;
	width: 330px;
	background-size: 100%;
	height: 200px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin-top: 70px;
	padding: 0px;
	background-position: center;
	
}


header {
	background-color: #0B0B0B;
	width: 330px;
	height: 600px;
	-webkit-border-radius: 00px 0px 20px 20px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	float: left;
}


.gridContainer {
	width: 1200px;
	max-width: 1200px;
	background-color:#333;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 0px 20px 40px 0px #111;
	-moz-box-shadow: 0px 20px 40px 00px #111;
	-webkit-border-radius: 00px 0px 20px 20px;
	
}
body {
	height: 100%;
	height: 100%;
	background: url(../images/latinoamericasoyyo2.jpg);
	 background-size:50%; 
	 background-attachment: fixed;
	 background-repeat: repeat;	
}

}
